.App {
  text-align: center;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  color: #eee;
  padding: 0;
  background: #1e2125;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0px 0px 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="password"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #1e2125;
  color: #eee;
  font-size: 16px;
  margin: 10px;
}

.open-ai-link {
  margin: 0px 10px;
}

a {
  font-size: 14px;
  color: #00ED64;
  white-space: break-spaces;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  max-width: 300px;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 5px;
  border-color: #888;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 5px 0;
}

img {
  max-width: 100%;
}

.rating {
  display: flex;
  margin-bottom: 20px;
}

.rating p {
  background-color: #e2ad00;
  color: #222;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  max-height: 20px;
  margin: 0px 0px 0px 10px;
}

.plot {
  height: 150px;
  color: #ccc;
  margin-bottom: 40px;
  overflow-y: hidden;
}

.plot:hover {
  overflow-y: auto;
}

.title {
  white-space: nowrap;
  flex: 1;
  overflow-x: hidden;
}

.title:hover {
  overflow-x: auto;
  margin-bottom: -20px;
}

.year {
  color: #ccc;
}

.subject {
  font-size: 36px;
}

.powered {
  margin-left: 30px;
  display: flex;
  margin-top: 20px;
}

.powered-text {
  margin: 5px;
  font-size: 14px;
  color: #888;
  text-decoration: none;
}

.powered-text:visited {
  margin: 5px;
  font-size: 14px;
  color: #888;
  text-decoration: none;
}

.powered-text:focus {
  margin: 5px;
  font-size: 14px;
  color: #888;
  text-decoration: none;
}

.container {
  display: flex;
}

.code-box {
  margin-bottom: 20px;
}

.flexDiv {
  flex: 1;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #00ED64;
  min-width: 200px;
  border: none;
  transform: translateY(0.5px);
  cursor: pointer;
  color: #222;
  font-family: monospace;
}

.dropdown-content {
  position: absolute;
  margin-top: 2px;
  top: 100%;
  left: 0;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-content button {
  display: block;
  padding: 10px 16px;
  font-size: 18px;
  min-width: 215.5px;
  border: none;
  margin-bottom: 1px;
  background-color: #00ED64;
  font-family: monospace;
  color: #222;
  cursor: pointer;
}

.arrow {
  font-size: 17.5px;
  padding: 10px 2px;
  margin-left: 1px;
  min-width: unset;
  border-radius: 0px 5px 5px 0px;
}

.show-dropdown .dropdown-content {
  display: block;
}

.submit-button:disabled {
  color: #888;
}

.code-button {
  font-size: 17.5px;
  padding: 10px 20px;
  margin-left: 20px;
  min-width: unset;
  border-radius: 5px;
}

.code {
  background: #1a1a1a;
  padding: 10px;
  max-width: 90%;
  padding-top: 0px;
  min-width: 720px;
  margin-left: 15px;
}

.chart {
  background: #1e2125;
  border: none;
}

pre {
  overflow-x: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[type="text"]:-webkit-autofill {
  border: 1px solid #ccc !important;
  outline: none !important;
}

input[type="password"]:-webkit-autofill {
  border: none !important;
  outline: none !important;
  background-color: #1e2125 !important;
  color: #eee !important;
}

input[type="text"]:focus {
  border: 1px solid #ccc !important;
  outline: none !important;
}

input[type="password"]:focus {
  border: none !important;
  outline: none !important;
}

.bg-image {
  position: fixed;
  filter: opacity(.1) grayscale(1) brightness(0);
  -webkit-filter: opacity(.1) grayscale(1) brightness(0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}